.gifGrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px;
}

.gifGrid img{
    width: 100%;
    height: auto;
}

.gifBody{
/* height: auto; */
height: 90vh;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}