.imageListBase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imageListBase img {
    /* width: 95%; */
    height: 200px;
    width: auto;

    /* width: 300px; */

}

.imageBackground {
    background-color: white;
    margin: 5px;
    text-align: center;
}