.imageListBase {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* .imageListBase img {
    /* width: 95%; */
    /* height: 200px;
    width: auto; */

    /* width: 300px; */

/* } */

.Pagination {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
}
.Pagination a {
    color: white;
    
}

.Pagspace {
    padding-top: 20px;
    padding-bottom: 20px;
}
.imageBackground {
    background-color: white;
    margin: 5px;
    text-align: center;
}